*.log
logs/
*.pid



*.env
.env.local
.env.*.local
.env.*
env/
!env.py
.env


.venv/
.vscode/
.idea/
*.iml

__pycache__
*.pyc
*.py[cod]


github_deploy_key
github_deploy_key.pub


/.pytest_cache/
*/.pytest_cache/
versions/


.local/
.cache/
.tmp/
tmp/
coverage/


*.zip
*.tar.gz
*.tar

.DS_Store
Thumbs.db


dist/
build/
.out/
.next/
.nuxt/
.svelte-kit/




docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.test.yml

